<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>회원 가입</title>
    </head>
    <body>
        <h1>회원 가입</h1>
        <form action="/members/new" method="post">
            <div>
                <label for="name">이름</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="이름을 입력하세요"
                />
            </div>
            <button type="submit">가입</button>
        </form>
        <a href="/">홈으로</a>
    </body>
</html>
